#mainPane{
    -fx-background-image: url("../../../../../../assets/backgrounds/MenuBackground.png");
    -fx-background-size: stretch;
}
.menuButton{
    -fx-text-fill : #a6acaf;
    -fx-border-color : #a6acaf;
    -fx-background-color: BLACK;
}

.menuButton:hover{
    -fx-text-fill : BLACK;
    -fx-border-color : BLACK;
    -fx-background-color: #a6acaf;
}